<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="icon" href="images/newLogo.png" type="image/png">
    <link rel="apple-touch-icon" href="images/newLogo.png" type="image/png">
    <title>ShortyBox</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="topbar">
            <h3 class="m-0">ShortyBox</h3>
            <i class="fa-solid fa-gears"></i>
        </div>
        <div class="scroll-container">
            <div class="container">
                <button class="btn sendActive" data-active="GPSAlign">
                    <i class="fa-solid fa-dharmachakra"></i>
                </button>
            </div>
        </div>
        <div class="footer">
            Footer
        </div>
    </div>
</body>
</html>
